@charset "utf-8";

	
	#storiesTable {
        display: table;
		border-collapse:collapse;
		margin-top:80px;
        width:1015px;
		background-color:#2E2E2E;
       	border:3px solid #EBEBEB;
        border-spacing:2px;
		margin-bottom:15px;
	}
	
	
	.custCaption {
		display:table-caption;
		text-align:center;
		width:100%;
		padding-bottom:15px;
	}

    .introRow {
       display:table-row;
       width:100%;
	}
	 
	.ContentRow {
	   display:table-row;
       width:100%;
	   padding-bottom:20px;
	}
 

    .divCell1 {
        display:table-cell;
        width:auto;
		text-align:left;
		padding-top:20px;
		padding-left:30px;
		padding-bottom:25px;
    }
	
	.alignCat {
		padding-left:160px;
	}
	
	 .divCell2 {
		font-variant:small-caps;
        display:table-cell;
		vertical-align:middle;
		text-align:center;
        width:50%;
		padding-top:20px;
	 	padding-left:10px;
		padding-bottom:25px;
    }
	
	
	 .divCell3 {
        display:table-cell;
        width:45%;
		padding-right:10px;
		padding-bottom:10px;
		padding-left:30px;
		padding-right:15px;
		border-bottom:3px solid #EBEBEB;
    }
	
	 .divCell4 {
        display:table-cell;
        width:45%;
		padding-left:10px;
		padding-bottom:10px;
		padding-left:30px;
		padding-right:15px;
		border-bottom:3px solid #EBEBEB;
    }