@charset "utf-8";
/* CSS Document */

		body {
			background-image:url(../_images/backGradient.png);
			background-repeat:repeat-x;
			}
		  
		.Center {
			Postion: relative;
			margin: 0px auto;
			padding: 0px;
			width: 1016px;
			}

			
		.MenuBar_Front {
			position: absolute;
			Top: 232px;
			width: 1016px;
			height: 45px;
			border-color:#000;
			background-color:#000;
			padding-left:2px;
			margin-bottom:2px;
			}

		.MenuBar_Inside {
			position: absolute;
			Top: 140px;
			width: 1016px;
			height: 45px;
			border-color:#333333;
			background-color:#333333;
			}
		
		.butDisplay {
			display:inline-block;
			height:40px;
			width:150px;
			margin-left:14px;
		}
		
		a#but_1 {background-image:url(../_images/_menuButtons3/rd_home1.png)}
		a#but_1:hover {background-image:url(../_images/_menuButtons3/gn_home1.png)}
		a#but_2 {background-image:url(../_images/_menuButtons3/rd_about1.png)}
		a#but_2:hover {background-image:url(../_images/_menuButtons3/gn_about1.png)}
		a#but_3 {background-image:url(../_images/_menuButtons3/rd_contPanel1.png)}
		a#but_3:hover {background-image:url(../_images/_menuButtons3/gn_contPanel1.png)}
		a#but_4 {background-image:url(../_images/_menuButtons3/rd_contInt1.png)}
		a#but_4:hover {background-image:url(../_images/_menuButtons3/gn_contInt1.png)}
		a#but_5 {background-image:url(../_images/_menuButtons3/rd_indData1.png)}
		a#but_5:hover {background-image:url(../_images/_menuButtons3/gn_indData1.png)}
		a#but_8 {background-image:url(../_images/_menuButtons3/rd_contact1.png)}
		a#but_8:hover {background-image:url(../_images/_menuButtons3/gn_contact1.png)}
		a.alt {display: none;}
		
		.butDisplay2 {
			display:inline-block;
			height:24px;
			width:82px;
			margin-left:3px;
		}
		
		.indDataButs {
		Position:absolute;
		top:95px;
		width:378px;
		height:24px;
		Margin-left: 650px;
		}
		
		a#but_01 {background-image:url(../_images/_indDataButtons/lt_but1.png)}
		a#but_01:hover {background-image:url(../_images/_indDataButtons/dk_but1.png)}
		a#but_02 {background-image:url(../_images/_indDataButtons/lt_but2.png)}
		a#but_02:hover {background-image:url(../_images/_indDataButtons/dk_but2.png)}
		a#but_03 {background-image:url(../_images/_indDataButtons/lt_but3.png)}
		a#but_03:hover {background-image:url(../_images/_indDataButtons/dk_but3.png)}
		a#but_04 {background-image:url(../_images/_indDataButtons/lt_but4.png)}
		a#but_04:hover {background-image:url(../_images/_indDataButtons/dk_but4.png)}
		a.alt {display: none;}


		.roundCorners {
			border-right-width:3px;
			border-bottom-width: 3px;
			border-left-width:1px;
			border-top-width: 1px;
			border-bottom-right-radius: 20px 20px;	
			border-bottom-left-radius: 20px 20px;
			border-top-right-radius: 20px 20px;
			border-top-left-radius: 20px 20px;
			border-color:#030303;
			border-style:solid;
		}
		
		.Footer {
			font-family: "nimbus-sans-condensed",sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size:15px;
			background-color:#2D2D2D;
			background-image:url(../_images/BSI4.gif);
			background-repeat:no-repeat;
			background-position:center;
			text-align:center;
			color:#FFF;
			position: fixed;
			bottom: 0px;
			width:1020px;
			height: 62px;
			border-top-style:solid;
			border-top-width: 1px;
			border-top-color: #030303;
			
		}
		
		
		.aStyle1{
			color:#FFF;
		}
		.aStyle1:hover {
			color:#0F0;
		}
		
		.dotStyle {
		width:9px; 
		height:9px;
		padding-bottom:3px;
		}
		
		#newFooter {
		position:relative;
		width:1016px;
		height:40px;
		background-color:#4D4D4D;
		padding-left:10px;
		margin-top:5px;
		margin-bottom:10px;
		text-align:center;
		}
			
		
		.proxima17White {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:17px;
		color:#FFF;
		}
		.proxima20White {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:20px;
		color:#FFF;
		}
		
		.proxima22White {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:22px;
		color:#FFF;
		}
		
		.proximaBL22 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:22px;
		color:#00F;
		}
		
		.proxima20BL {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:20px;
		color:#FFF;
		}
		
		.proxima24White {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:24px;
		color:#FFF;
		}
		
		.proxima15 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:15px;
		}
		
		.proxima15White {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:15px;
		color:#FFF;
		}
		
		.proxima14 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:14px;
		}
		
		.proxima14White{
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:14px;
		color:#FFF;
		}
		
		.proximaOR14 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:14px;
		color:#FC6907;
		}
		
		.proximaOR22 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:22px;
		color:#FC6907;
		}
		
		
		.proximaBL14 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:14px;
		color:#00F;
		}
		
		.proximaBL24 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:24px;
		color:#00F;
		}
		
		.proxima12 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:12px;
		}
		
		.proxima12White {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:12px;
		color:#FFF;
		}
		
		.proxima18White {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:18px;
		color:#FFF;
		}
		
		.proxima15 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		}
		
		.proxima17 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		}
		
		.proxima26 {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:26px;
		}
		
		.newsGothic15B {
		font-family: "news-gothic-std",sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size:15px;
		}
		
		.newsGothic11B {
		font-family: "news-gothic-std",sans-serif;
		font-style: normal;
		font-weight: Bold;
		font-size:11px;
		}
		
		.bolder {
		font-weight: 600;
		font-size:16px;
		}
		
		.lrpadding {
		padding-left:25px;
		padding-right:30px	
		}
		
	